<p id="notice"><%= notice %></p>

<tr>
        <td><%= @event.name %></td>
        <td><%= @event.location %></td>
        <td><%= @event.date %></td>
        <h1>Atendees</h1>
        <% @event.atendees.each do |at| %>
          <div>
          <strong><%= at.username %> </strong>          
          </div>
        <% end %>
</tr>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
